.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(22.4, 32.9, 64.3, 0.7), rgba(22.4, 32.9, 64.3, 0.7)), url('../../assets/hero.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-text {
    text-align: center;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60 px;
    font-weight: 600;

}

.hero-text p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.4;

}

/* media quiry */
@media (max-width: 1280px) {
    .hero{
        min-height: 60vh;
        margin-top: 100px;
    }}
@media (max-width: 850px) {
    .hero{
        min-height: 50vh;
    }
    .hero-text h1{
        font-size: 36px;
    }
}

@media (max-width: 650px) {
    .hero{
        min-height: 50vh;
    }
    
    
    .hero-text h1 {
        font-size: 24px;
        max-width: 500px;
        margin: auto;
    }
    .hero-text p {
        font-size: 14px;
        margin: 15px auto
    }
}