.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px;
}
.gallery-com{
    max-width: 100%;
}
.gallery-com p {
    font-size: 24px;
    font-weight: 600;
    color: #3954A4;
    text-transform: uppercase;
}

.gallery-com img {
    width: 100%;
    border-radius: 10px;

}




/* medeia quiry */
@media (max-width:800px){
    .gallery{
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(2, 45%);
    }
    .gallery-com  {
        margin-bottom: 10px;
    } 
    .gallery-com p {
        font-size: 18px;
    } 


}