
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import-normalize;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointe;
}
.container{
  
  padding-left: 5%;
  padding-right: 5%;
}
.btn{
  background: white;
  color: #212121;
  padding: 14px 24px ;
  font-size: 16px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn.dark-btn{
  background: #3954A4;
  color: white;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}
.slick-slide > div {
  margin: 0 10px;
  padding-bottom: 10px;
}
.slick-arrow::before {
 color: #223a80;
 font-size: 25px;
}


/* mediea quiry */
@media (max-width: 1280px){
    .container{
      padding-left: 3%;
      padding-right: 3%
    }
    .btn{
      padding: 8px 16px ;
    }
    .btn.dark-btn{
      background: #3954A4;
      color: white;
      font-size: 15px;
    }
}
@media (max-width: 1020px){
    .container{
      padding-left: 2%;
      padding-right: 2%
    }
    .btn{
      padding: 8px 16px ;
    }
    .slick-prev{
      margin-left: 10px;
}
    .slick-next{
      margin-right: 10px;
}
}
@media (max-width: 768px){
    .container{
      padding-left: 2%;
      padding-right: 2%
    }
    .btn{
      padding: 8px 14px ;
      font-size: 12px;
    }
    .btn.dark-btn{
      background: #3954A4;
      color: white;
      font-size: 12px;
    }
    .slick-prev{
      margin-left: 10px;
}
    .slick-next{
      margin-right: 20px;
}

}

