.about-us{
    display: flex;
    max-width: 90%;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.box1{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
    
video {
    border-radius: 10px;
    max-width: 500px;
    float: left;
    margin-right: 2rem;
    margin-bottom: 6px;
    border: 4px solid #3954A4;
    
}
.box1 p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 6px;
    color: #343434;
}
.box1 h1 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #3954A4;
}